{% extends '@MauroTraining/layout.html.twig' %}

{% block content %}
    <h2>All workouts</h2>
    <table class="table table-hover table-border table_results">
        <thead>
            <tr>
                <th>Date of Workout</th>
                <th>Result</th>
                <th>workout Description</th>
                <th>weight</th>
                <th>Measurement Units</th>
                <th>Personal Record</th>
            </tr>
        </thead>
        <tbody>
        {% for performance in performances %}
            <tr>
                <td>{{ performance.date_of_workout }}</td>
                <td>{{ performance.result }}</td>
                <td>{{ performance.workout_description }}</td>
                <td>{{ performance.weight }}</td>
                <td>{{ performance.measurement_units }}</td>
                <td>{{ performance.pr }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}