<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Training{% endblock %}</title>
    {% block styleSheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('bundles/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/font-awesome/css/font-awesome.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block body %}
    <section id="logo">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!--<img src="{{ asset('bundles/img/my-logo.png') }}" class="img-fluid" />-->
                </div>
            </div>
        </div>
    </section>

    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Something BIG is coming our way</p>
                </div>
            </div>
        </div>
    </section>

    <section id="counter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="counterdown">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="icons">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline">
                        <a href="http://www.github.com" target="blank"><li class="list-inline-item"><i class="fa github fa-github-square fa-3x" aria-hidden="true"></i></li></a>
                        <a href="http://www.facebook.com" target="blank"><li class="list-inline-item"><i class="fa facebook fa-facebook-square fa-3x" aria-hidden="true"></i></li></a>
                        <a href="http://www.google.com" target="blank"><li class="list-inline-item"><i class="fa google fa-google-plus-square fa-3x" aria-hidden="true"></i></li></a>
                        <a href="http://www.linkedin.com" target="blank"><li class="list-inline-item"><i class="fa linkedin fa-linkedin-square fa-3x" aria-hidden="true"></i></li></a>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javaScript %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery.countdown.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/app.js') }}"></script>
{% endblock %}
</body>
</html>